In [1]:
import pandas as pd
import selenium as se
from selenium import webdriver
import time
from selenium.webdriver.support.select import Select
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

1. Scrape the details of most viewed videos on YouTube from Wikipedia:
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [2]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(3)

url = "https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"
driver.get(url)
time.sleep(2)

In [3]:
inf=li=driver.find_elements_by_xpath("//table[@Class='wikitable sortable jquery-tablesorter']//td")
k=[]
for i in inf:
    k.append(i.text)

In [4]:
o=0
Rank=[]
Name=[]
Artist=[]
Upload_date=[]
Views=[]
extra=[]
for m in range(30):
    for n in range(6):
        if n == 0:
            Rank.append(k[o])
            o=o+1
        elif n==1:
            Name.append(k[o].split('[')[0])
            o=o+1
        elif n==2:
            Artist.append(k[o])
            o=o+1
        elif n==3:
            Views.append(k[o])
            o=o+1
        elif n==4:
            Upload_date.append(k[o])
            o=o+1
        else:
            extra.append(k[o])
            o=o+1
driver.close()
df=pd.DataFrame({'Rank':Rank,'Name':Name,'Artist':Artist,'Views':Views,'Upload date':Upload_date})
df

,Rank,Name,Artist,Views,Upload date
0,1.,"""Baby Shark Dance""",Pinkfong Kids' Songs & Stories,8.74,"June 17, 2016"
1,2.,"""Despacito""",Luis Fonsi,7.39,"January 12, 2017"
2,3.,"""Johny Johny Yes Papa""",LooLoo Kids,5.43,"October 8, 2016"
3,4.,"""Shape of You""",Ed Sheeran,5.34,"January 30, 2017"
4,5.,"""See You Again""",Wiz Khalifa,5.13,"April 6, 2015"
5,6.,"""Masha and the Bear – Recipe for Disaster""",Get Movies,4.44,"January 31, 2012"
6,7.,"""Uptown Funk""",Mark Ronson,4.20,"November 19, 2014"
7,8.,"""Learning Colors – Colorful Eggs on a Farm""",Miroshka TV,4.14,"February 27, 2018"
8,9.,"""Bath Song""",Cocomelon – Nursery Rhymes,4.12,"May 2, 2018"
9,10.,"""Gangnam Style""",Psy,4.08,"July 15, 2012"
10,11.,"""Phonics Song with Two Words""",ChuChu TV,3.91,"March 6, 2014"
11,12.,"""Sugar""",Maroon 5,3.48,"January 14, 2015"
12,13.,"""Sorry""",Justin Bieber,3.44,"October 22, 2015"
13,14.,"""Dame Tu Cosita""",El Chombo,3.38,"April 5, 2018"
14,15.,"""Roar""",Katy Perry,3.36,"September 5, 2013"
15,16.,"""Counting Stars""",OneRepublic,3.31,"May 31, 2013"
16,17.,"""Thinking Out Loud""",Ed Sheeran,3.27,"October 7, 2014"
17,18.,"""Dark Horse""",Katy Perry,3.08,"February 20, 2014"
18,19.,"""Faded""",Alan Walker,3.08,"December 3, 2015"
19,20.,"""Wheels on the Bus""",Cocomelon – Nursery Rhymes,3.07,"May 24, 2018"
20,21.,"""Shake It Off""",Taylor Swift,3.06,"August 18, 2014"
21,22.,"""Lean On""",Major Lazer,3.05,"March 22, 2015"
22,23.,"""Girls Like You""",Maroon 5,3.04,"May 31, 2018"
23,24.,"""Bailando""",Enrique Iglesias,3.04,"April 11, 2014"
24,25.,"""Let Her Go""",Passenger,3.00,"July 25, 2012"
25,26.,"""Mi Gente""",J Balvin,2.93,"June 29, 2017"
26,27.,"""Perfect""",Ed Sheeran,2.86,"November 9, 2017"
27,28.,"""Hello""",Adele,2.84,"October 22, 2015"
28,29.,"""Waka Waka (This Time for Africa)""",Shakira,2.84,"June 4, 2010"
29,30.,"""Axel F""",Crazy Frog,2.83,"June 16, 2009"

2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1st ODI)
B) Series
C) Place
D) Date
E) Time

In [5]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(3)

url = "https://www.bcci.tv/international/fixtures"
driver.get(url)
time.sleep(2)

In [6]:
Match_title=[]
Series=[]
Place=[]
Date=[]
Time=[]


li=driver.find_elements_by_xpath("//span[@Class='u-unskewed-text fixture__tournament-label u-truncated']")
for k in li:
    Match_title.append(k.text)

li=driver.find_elements_by_xpath("//p[@Class='fixture__additional-info']//span")
for k in li:
    Place.append(k.text)

li=driver.find_elements_by_xpath("//span[@Class='fixture__date']")
li1=driver.find_elements_by_xpath("//span[@Class='fixture__month']")
o=0
for k in li:
    Date.append(str(k.text)+' '+str(li1[o].text))

li=driver.find_elements_by_xpath("//span[@Class='fixture__time']")
o=0
for k in li:
    Time.append(k.text)

driver.close()
df=pd.DataFrame({'Match title':Match_title,'Place':Place,'Date':Date,'Time':Time})
df

,Match title,Place,Date,Time
0,ICC WORLD TEST CHAMPIONSHIP,"The Ageas Bowl, Southampton",18 JUNE,15:00 IST
1,SRI LANKA V INDIA 2021,"R Premadasa Stadium, Colombo",13 JUNE,14:30 IST
2,SRI LANKA V INDIA 2021,"R Premadasa Stadium, Colombo",16 JUNE,14:30 IST
3,SRI LANKA V INDIA 2021,"R Premadasa Stadium, Colombo",18 JUNE,14:30 IST
4,SRI LANKA V INDIA 2021,"R Premadasa Stadium, Colombo",21 JUNE,19:00 IST
5,SRI LANKA V INDIA 2021,"R Premadasa Stadium, Colombo",23 JUNE,19:00 IST
6,SRI LANKA V INDIA 2021,"R Premadasa Stadium, Colombo",25 JUNE,19:00 IST
7,ENGLAND V INDIA 2021,"Trent Bridge, Nottingham",04 JUNE,15:30 IST
8,ENGLAND V INDIA 2021,"Lord's, London",12 JUNE,15:30 IST
9,ENGLAND V INDIA 2021,"Headingley, Leeds",25 JUNE,15:30 IST
10,ENGLAND V INDIA 2021,"The Oval, London",02 JUNE,15:30 IST
11,ENGLAND V INDIA 2021,"Old Trafford, Manchester",10 JUNE,15:30 IST

3. Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/
You need to find following details:
A) Name
B) Description
Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [7]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(3)

url = "https://www.guru99.com/"
driver.get(url)
time.sleep(2)
driver.find_element_by_xpath("//a[@title='Selenium']").click()
time.sleep(2)
driver.find_element_by_xpath("//a[@title='Selenium Exception Handling (Common Exceptions List)']").click()

In [8]:
li=driver.find_elements_by_xpath("//table[@Class='table table-striped']//td")
Exception_name=[]
Description=[]
extra=[]
for k in li:
    extra.append(k.text)
for i in extra[2:]:
    if ' ' in i:
        Description.append(i)
    else:
        Exception_name.append(i)
        
driver.close()
df=pd.DataFrame({'Exception_name':Exception_name,'Description':Description})
df

,Exception_name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can't be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n't sen...

Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP at current price (19-20)
D) GSDP at current price (18-19)
E) Share(18-19)
F) GDP($ billion)

In [26]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(3)

url = "http://statisticstimes.com/"
driver.get(url)
time.sleep(2)
li=driver.find_elements_by_xpath("//div[@Class='dropdown']")
for i in li:
    if i.text=='Economy':
        print('i')
        li1=i.find_elements_by_tag_name("a")
        u=li1[2].get_attribute('href')
        driver.get(u)
        break
time.sleep(4)
li=driver.find_elements_by_xpath("//a[@Class='ec']")
for i in li:
    if i.text=='» GDP of Indian states':
        u=i.get_attribute('href')
        driver.get(u)
        break
time.sleep(2)

i

In [28]:
li=driver.find_elements_by_xpath("//table[@id='table_id']//td")
k=[]
Rank=[]
State=[]
GSDP_19_20=[]
GSDP_18_19=[]
Shar_18_19=[]
GDP=[]
o=0
while o<len(li):
    for j in range(8):
        if j == 0:
            Rank.append(li[o].text)
            o=o+1
        elif j==1:
            State.append(li[o].text)
            o=o+1
        elif j==2:
            GSDP_19_20.append(li[o].text)
            o=o+1
        elif j==3:
            GSDP_18_19.append(li[o].text)
            o=o+1
        elif j==4:
            Shar_18_19.append(li[o].text)
            o=o+1
        elif j==5:
            GDP.append(li[o].text)
            o=o+1
        else:
            o=o+1
driver.close()
df=pd.DataFrame({'Rank':Rank,'State':State,'GSDP_19_20':GSDP_19_20,'GSDP_18_19':GSDP_18_19,'Shar_18_19':Shar_18_19,'GDP':GDP})
df

   Rank                      State  GSDP_19_20  GSDP_18_19 Shar_18_19      GDP
0     1                Maharashtra           -   2,632,792     13.94%  399.921
1     2                 Tamil Nadu   1,845,853   1,630,208      8.63%  247.629
2     3              Uttar Pradesh   1,687,818   1,584,764      8.39%  240.726
3     4                    Gujarat           -   1,502,899      7.96%  228.290
4     5                  Karnataka   1,631,977   1,493,127      7.91%  226.806
5     6                West Bengal   1,253,832   1,089,898      5.77%  165.556
6     7                  Rajasthan   1,020,989     942,586      4.99%  143.179
7     8             Andhra Pradesh     972,782     862,957      4.57%  131.083
8     9                  Telangana     969,604     861,031      4.56%  130.791
9    10             Madhya Pradesh     906,672     809,592      4.29%  122.977
10   11                     Kerala           -     781,653      4.14%  118.733
11   12                      Delhi     856,112     774,870      4.10%  117.703
12   13                    Haryana     831,610     734,163      3.89%  111.519
13   14                      Bihar     611,804     530,363      2.81%   80.562
14   15                     Punjab     574,760     526,376      2.79%   79.957
15   16                     Odisha     521,275     487,805      2.58%   74.098
16   17                      Assam           -     315,881      1.67%   47.982
17   18               Chhattisgarh     329,180     304,063      1.61%   46.187
18   19                  Jharkhand     328,598     297,204      1.57%   45.145
19   20                Uttarakhand           -     245,895      1.30%   37.351
20   21            Jammu & Kashmir           -     155,956      0.83%   23.690
21   22           Himachal Pradesh     165,472     153,845      0.81%   23.369
22   23                        Goa      80,449      73,170      0.39%   11.115
23   24                    Tripura      55,984      49,845      0.26%    7.571
24   25                 Chandigarh           -      42,114      0.22%    6.397
25   26                 Puducherry      38,253      34,433      0.18%    5.230
26   27                  Meghalaya      36,572      33,481      0.18%    5.086
27   28                     Sikkim      32,496      28,723      0.15%    4.363
28   29                    Manipur      31,790      27,870      0.15%    4.233
29   30                   Nagaland           -      27,283      0.14%    4.144
30   31          Arunachal Pradesh           -      24,603      0.13%    3.737
31   32                    Mizoram      26,503      22,287      0.12%    3.385
32   33  Andaman & Nicobar Islands           -           -          -        -
33                           India  20,351,013  18,886,957               2,869

Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

In [29]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(3)

url = "https://github.com/"
driver.get(url)
time.sleep(2)
li=driver.find_elements_by_xpath("//summary[@Class='HeaderMenu-summary HeaderMenu-link px-0 py-3 border-0 no-wrap d-block d-lg-inline-block']")
for i in li:
    if i.text == 'Explore':
        i.click()
li1=i.find_elements_by_xpath("//a[@Class='py-2 lh-condensed-ultra d-block Link--primary no-underline h5 Bump-link--hover']")

driver.get(li1[1].get_attribute('href'))
time.sleep(2)
li=driver.find_elements_by_xpath('//a[@Class="js-selected-navigation-item d-inline-block py-2 py-md-3 mr-3 mr-md-4 no-underline subnav-link"]')
for i in li:
    if i.text=='Trending':
        u=i.get_attribute('href')
        driver.get(u)
        break
time.sleep(2)

In [30]:
Repository_title=[]
Repository_description=[]
Contributors_count=[]
Language_used=[]
li1=driver.find_elements_by_xpath('//article[@Class="Box-row"]')
for j in li1:
    try:
        li=j.find_element_by_xpath('.//span[@Class="text-normal"]')
        Repository_title.append(li.text.split('/')[0])
    except NoSuchElementException:
        Repository_title.append('-')
    try:
        li=j.find_element_by_xpath('.//p[@Class="col-9 color-text-secondary my-1 pr-4"]')
        Repository_description.append(li.text)
    except NoSuchElementException:
        Repository_description.append('-')
    
    try:
        li=j.find_elements_by_xpath('.//a[@Class="Link--muted d-inline-block mr-3"]')
        for i in range(len(li)):
            if i % 2 != 0:
                Contributors_count.append(li[i].text)
    except NoSuchElementException:
        Contributors_count.append('-')
    try:
        li=j.find_element_by_xpath('.//span[@itemprop="programmingLanguage"]')
        Language_used.append(li.text)
    except NoSuchElementException:
        Language_used.append('-') 
        
driver.close()
    
df=pd.DataFrame({'Repository_title':Repository_title,'Repository_description':Repository_description,'Contributors_count':Contributors_count,'Language_used':Language_used})
df

,Repository_title,Repository_description,Contributors_count,Language_used
0,jwasham,A complete computer science study plan to beco...,"48,553",-
1,bitcoin,Bitcoin Core integration/staging tree,"29,121",C++
2,PaperMC,High performance Spigot fork that aims to fix ...,"1,016",Shell
3,jina-ai,An easier way to build neural search on the cloud,488,Python
4,neovim,Vim-fork focused on extensibility and usability,"3,268",Vim script
5,Genymobile,Display and control your Android device,"5,181",C
6,JDHelloWorld,-,99,JavaScript
7,star261,-,67,JavaScript
8,maziarraissi,Applied Deep Learning,130,-
9,github,The open-source repo for docs.github.com,"18,888",JavaScript
10,SuMaiKaDe,-,66,Python
11,ashishpatel26,500 AI Machine learning Deep learning Computer...,"1,819",-
12,iptv-org,Collection of publicly available IPTV channels...,"2,227",JavaScript
13,whittlem,Python Crypto Bot,217,Python
14,GaloyMoney,-,14,TypeScript
15,biancangming,解决电脑、手机看电视直播的苦恼，收集各种直播源，电视直播网站,369,Python
16,adrianhajdin,"Tutorial created by Enyel Sequeira, taught by ...",23,JavaScript
17,nushell,A new type of shell,591,Rust
18,MuriungiPatrick,Learning Bootstrap 5 with SASS,37,JavaScript
19,kamranahmedse,Roadmap to becoming a web developer in 2021,"23,550",-
20,alpinejs,"A rugged, minimal framework for composing Java...",680,HTML
21,actions,GitHub Actions virtual environments,"1,212",PowerShell
22,jklepatch,"Source code for Eat The Blocks, a screencast f...","1,188",JavaScript
23,MichMich,MagicMirror² is an open source modular smart m...,"3,601",JavaScript
24,mit-pdos,Xv6 for RISC-V,391,C

Scrape the details of top 100 songs on billboard.com.
Url = https://www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [31]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(3)

url = "https://www.billboard.com/"
driver.get(url)
time.sleep(2)
li=driver.find_elements_by_xpath('//a[@Class="header__subnav__link text--uppercase font--semi-bold"]')
for i in li:
    if i.text == 'HOT 100':
        u=i.get_attribute('href')
        driver.get(u)
        break

In [32]:
Song_name=[]
Artist_name=[]
Last_week_rank=[]
Peak_rank=[]
Weeks_on_board=[]
li1=driver.find_elements_by_xpath('//button[@Class="chart-element__wrapper display--flex flex--grow sort--this-week"]')
for j in li1:
    try:
        li=j.find_element_by_xpath('.//span[@Class="chart-element__information__song text--truncate color--primary"]')
        Song_name.append(li.text)
    except NoSuchElementException:
        Song_name.append('-')
    try:
        li=j.find_element_by_xpath('.//span[@Class="chart-element__information__artist text--truncate color--secondary"]')
        Artist_name.append(li.text)
    except NoSuchElementException:
        Artist_name.append('-')
    
    try:
        li=j.find_element_by_xpath('.//div[@Class="chart-element__meta text--center color--secondary text--last"]')
        Last_week_rank.append(li.text)
    except NoSuchElementException:
        Last_week_rank.append('-')
    try:
        li=j.find_element_by_xpath('.//div[@Class="chart-element__meta text--center color--secondary text--peak"]')
        Peak_rank.append(li.text)
    except NoSuchElementException:
        Peak_rank.append('-') 
        
    try:
        li=j.find_element_by_xpath('.//div[@Class="chart-element__meta text--center color--secondary text--week"]')
        Weeks_on_board.append(li.text)
    except NoSuchElementException:
        Weeks_on_board.append('-') 
    
driver.close()

df=pd.DataFrame({'Song_name':Song_name,'Artist_name':Artist_name,'Last_week_rank':Last_week_rank,'Peak_rank':Peak_rank,'Weeks_on_board':Weeks_on_board})
df

,Song_name,Artist_name,Last_week_rank,Peak_rank,Weeks_on_board
0,Butter,BTS,1,1,2
1,Good 4 U,Olivia Rodrigo,2,1,3
2,Levitating,Dua Lipa Featuring DaBaby,4,2,35
3,Leave The Door Open,Silk Sonic (Bruno Mars & Anderson .Paak),5,1,13
4,Save Your Tears,The Weeknd & Ariana Grande,7,1,25
...,...,...,...,...,...
95,All I Know So Far,P!nk,87,74,3
96,Hold On,Justin Bieber,86,20,13
97,Wasted On You,Morgan Wallen,98,9,19
98,Outside,MO3 X OG Bobby Billions,-,99,1
99,Botella Tras Botella,Gera MX + Christian Nodal,-,60,4

Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/
You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and click on search. All this should be done through code

In [33]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(4)

url = "https://www.naukri.com/"
driver.get(url)
time.sleep(2)

li=driver.find_element_by_xpath('//a[@title="Search Recruiters"]')
u=li.get_attribute('href')
driver.get(u)
time.sleep(2)
driver.find_element_by_xpath('//input[@placeholder="Skills, Designations, Companies"]').send_keys('Data science')
driver.find_element_by_xpath('//button[@Class="fl qsbSrch blueBtn"]').click()

In [34]:
Name=[]
Designation=[]
Company=[]
Skills_they_hire_for=[]
Location=[]

li1=driver.find_elements_by_xpath('//div[@Class="recSec fl fadeInUp"]')

for j in li1:
    try:
        li=j.find_element_by_xpath('.//span[@Class="fl ellipsis"]')
        Name.append(li.text)
    except NoSuchElementException:
        Name.append('-')
    try:
        li=j.find_element_by_xpath('.//span[@Class="ellipsis clr"]')
        Designation.append(li.text)
    except NoSuchElementException:
        Designation.append('-')
    
    try:
        li=j.find_element_by_xpath('.//small[@Class="ellipsis"]')
        Location.append(li.text)
    except NoSuchElementException:
        Location.append('-')
    try:
        li=j.find_element_by_xpath('.//div[@Class="hireSec highlightable"]')
        Skills_they_hire_for.append(li.text)
    except NoSuchElementException:
        Skills_they_hire_for.append('-') 
        
driver.close()
    
df=pd.DataFrame({'Name':Name,'Designation':Designation,'Location':Location,'Skills_they_hire_for':Skills_they_hire_for})
df

,Name,Designation,Location,Skills_they_hire_for
0,Aakash Harit,HR Manager,Delhi,"Classic ASP Developer, Internet Marketing Prof..."
1,MARSIAN Technologies LLP,Company HR,Pune,"Data Science, Artificial Intelligence, Machine..."
2,subhas patel,Founder CEO,UK - (london),"Hadoop, Spark, Digital Strategy, Data Architec..."
3,Institute for Financial Management and Resear,Programme Manager,Chennai,Data Science
4,Asif Lucknowi,Director,Indore,"Technical Training, Software Development, Pres..."
5,Kalpana Dumpala,Executive Hiring,Hyderabad / Secunderabad,"Qa, Ui/ux, Java Developer, Java Architect, C++..."
6,Kushal Rastogi,Company HR,Mumbai,"Office Administration, Hr Administration, tele..."
7,Mahesh Babu Channa,HR Team Lead,Hyderabad / Secunderabad,"Social Media, digital media maketing, seo, smm..."
8,Manisha Yadav,HR Executive,Navi Mumbai,"Telecalling, Client Interaction, Marketing, Re..."
9,Rashmi Bhattacharjee,HR Head,Delhi,"Corporate Sales, Software Development, Softwar..."
10,Rithika dadwal,HR Recruiter,Pune,"Data Science, Machine Learning, Python, R, Dee..."
11,Sandhya Khandagale,HR Recruiter,Pune,"Big Data, Data Science, Artificial Intelligenc..."
12,Manas,Lead Talent acquisition,Bengaluru / Bangalore,"Software Architecture, Vp Engineering, Product..."
13,Sunil Vedula,CEO,-,"Signal Processing, Machine Learning, Neural Ne..."
14,Priya Khare,Senior Manager,Bengaluru / Bangalore,"Data Science, Artificial Intelligence, analyti..."
15,Jayanth N,Project Manager,Mysoru / Mysore,"Data Analytics, Managed Services, Team Leading..."
16,Radha Manivasagam,HR Executive,Bengaluru / Bangalore,"Python, Artificial Intelligence, Machine Learn..."
17,Amit Sharma,Consultant,New Delhi,"Machine Learning, Artificial Intelligence, Dat..."
18,Shashikant Chaudhary,HR Recruiter/HR Excutive,Aligarh,"Relationship Management, Retail Sales, Private..."
19,Rutuja Pawar,Technical Recruiter,Pune,"Data Science, Big Data Analytics, Digital Mark..."
20,Ankit Sinha,Head Analytics,Mumbai,"B.Tech, Tableau, Statistics, R, Analytics, Tim..."
21,Rashi Kacker,Sr Product Manager,Bengaluru / Bangalore,"Data Science, Node.js, Angularjs"
22,Balaji Kolli,Co Founder,Hyderabad / Secunderabad,"Data Analysis, Learning, Data Science, Compute..."
23,ROHIT Kumar,Architect,Mumbai,"Software Development, Core Java, Unit Testing,..."
24,Shailja Mishra,HR Manager,Noida,"consulting, Education Counseling, Educational ..."

Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [35]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(4)

url = "https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/"
driver.get(url)
time.sleep(2)

In [36]:
Book_name=[]
Author_name=[]
Volume_sold=[]
Publisher=[]
Genre=[]

li1=driver.find_element_by_xpath('//table[@Class="in-article sortable"]')
li=li1.find_elements_by_tag_name('td')
o=1
for i in range(100):
    for j in range(6):
        if j == 0:
            Book_name.append(li[o].text)
            o=o+1
        elif j == 1:
            Author_name.append(li[o].text)
            o=o+1
        elif j == 2:
            Volume_sold.append(li[o].text)
            o=o+1
        elif j == 3:
            Publisher.append(li[o].text)
            o=o+1
        elif j == 4:
            Genre.append(li[o].text)
            o=o+1
        else:
            o=o+1
            
driver.close()
df=pd.DataFrame({'Book_name':Book_name,'Author_name':Author_name,'Volume_sold':Volume_sold,'Publisher':Publisher,'Genre':Genre})
df

,Book_name,Author_name,Volume_sold,Publisher,Genre
0,1,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld
1,2,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury
2,3,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury
3,4,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury
4,5,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House
...,...,...,...,...,...
95,96,"Ghost,The","Harris, Robert","807,311",Random House
96,97,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin
97,98,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.
98,99,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion
99,100,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin

Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [37]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(4)

url = "https://www.imdb.com/list/ls095964455/"
driver.get(url)
time.sleep(2)

In [38]:
Name=[]
Year_span=[]
Genre=[]
Run_time=[]
Ratings=[]
Votes=[]

li1=driver.find_elements_by_xpath('//div[@Class="lister-item mode-detail"]')
for j in li1:
    try:
        li=j.find_element_by_xpath('.//h3[@Class="lister-item-header"]//a')
        Name.append(li.text)
    except NoSuchElementException:
        Name.append('-')
    try:
        li=j.find_element_by_xpath('.//span[@Class="lister-item-year text-muted unbold"]')
        Year_span.append(li.text)
    except NoSuchElementException:
        Year_span.append('-')
    
    try:
        li=j.find_element_by_xpath('.//span[@Class="genre"]')
        Genre.append(li.text)
    except NoSuchElementException:
        Genre.append('-')
    try:
        li=j.find_element_by_xpath('.//span[@Class="runtime"]')
        Run_time.append(li.text)
    except NoSuchElementException:
        Run_time.append('-') 
        
    try:
        li=j.find_element_by_xpath('.//span[@Class="ipl-rating-star__rating"]')
        Ratings.append(li.text)
    except NoSuchElementException:
        Ratings.append('-') 
    try:
        li=j.find_element_by_xpath('.//span[@name="nv"]')
        Votes.append(li.text)
    except NoSuchElementException:
        Votes.append('-') 
    
driver.close()
df=pd.DataFrame({'Name':Name,'Year_span':Year_span,'Genre':Genre,'Run_time':Run_time,'Ratings':Ratings,'Votes':Votes})
df

,Name,Year_span,Genre,Run_time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.3,"1,823,033"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"863,689"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"874,435"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.6,"262,667"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"224,010"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"44,574"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"55,063"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8,"167,699"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"34,876"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"191,391"

Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/
You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year
Note: - from the home page you have to go to the Show All Dataset page through code

In [39]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(4)

url = "https://archive.ics.uci.edu/"
driver.get(url)
time.sleep(2)
li=driver.find_elements_by_xpath('//span[@Class="normal"]//a')
for i in li:
    if i.text == 'view all data sets':
        u=i.get_attribute('href')
        driver.get(u)
        break
time.sleep(2)

In [40]:
Dataset_name=[]
Data_type=[]
Task=[]
Attribute_type=[]
No_of_instances=[]
No_of_attribute=[]
Year=[]

li1=driver.find_elements_by_xpath('//table[@border="1"]//tr')
o=0
for i in li1:
    #li=i.find_element_by_xpath('.//p[@Class="normal"]//a')
    #Dataset_name.append(li.text)
    li=i.find_elements_by_xpath('.//p[@Class="normal"]')
    for j in range(len(li)):
        if j == 0:
            Dataset_name.append(li[j].text)
            o=o+1
        elif j == 1:
            Data_type.append(li[j].text)
            o=o+1
        elif j == 2:
            Task.append(li[j].text)
            o=o+1
        elif j == 3:
            Attribute_type.append(li[j].text)
            o=o+1
        elif j == 4:
            No_of_instances.append(li[j].text)
            o=o+1
        elif j == 5:
            No_of_attribute.append(li[j].text)
            o=o+1
        else:
            o=o+1
dn=[]
for i in range(len(Dataset_name)):
    if i%2 == 0:
        dn.append(Dataset_name[i])
driver.close()
df=pd.DataFrame({'Dataset_name':dn,'Data_type':Data_type,'Task':Task,'Attribute_type':Attribute_type,'No_of_instances':No_of_instances,'No_of_attribute':No_of_attribute})
df

,Dataset_name,Data_type,Task,Attribute_type,No_of_instances,No_of_attribute
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279
...,...,...,...,...,...,...
583,in-vehicle coupon recommendation,Multivariate,Classification,,12684,23
584,Gait Classification,Multivariate,Classification,Real,48,321
585,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068
586,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068
587,Synchronous Machine Data Set,Multivariate,Regression,Real,557,5